* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhai 2', cursive;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

}

.logo {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.logo img,
.footer-logo img {
    width: 30%;
    border: 3px solid black;
    border-radius: 50px;

}

.logo:hover,
#About:hover,
#reading:hover,
.nav-list li:hover,
.footer-logo:hover {
    transform: scale(1.2);
}

.nav-list,
.nav-list-footer {
    width: 77%;
    display: flex;
    /* background-color: black; */
    align-items: center;
}

.nav-list li,
.nav-list-footer li {
    list-style: none;
    padding: 23px 28px;

}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover,
.btn:hover,
.btn-sm:hover {
    text-decoration: none;
    color: red;
}

.rightNav {
    width: 50%;
    /* background-color: pink; */
    text-align: right;
    padding: 0px 10px;
}

#search {
    padding: 5px;
    font-size: 11px;
    border: 2px solid grey;
    border-radius: 8px;

}

.background {
    background: rgb(0, 0, 0, 0.7) url('bg1.jpg');
    background-size: cover;
    background-blend-mode: saturation;
}

.firstSection {
    height: 100vh;


}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 41%;
    height: 78%;
    margin-left: 5em;
}

.firstHalf {
    width: 80%;


}

.secondHalf {
    width: 30%;
    position: relative;
    user-select: none;
    pointer-events: none;
    animation: animate 2s;
    animation-iteration-count: 1;


}

@keyframes animate {

    0% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

.secondHalf img {
    width: 70%;
    border: 4px solid black;
    border-radius: 150px;
    padding: 0px 0px;
    margin: auto;

}

.text-big {
    font-size: 33px;
    font-weight: bold;
    align-items: center;
}

.text-small {
    font-size: 17px;
    margin-top: 10px;
}

.btn {
    font-size: 23px;
    border: 3px solid white;
    border-radius: 6px;
    margin: 14px 127px;
    padding: 0px 24px;
    cursor: pointer;


}

.btn-sm {
    padding: 1px 7px;
    vertical-align: middle;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}

#Services {

    text-align: center;
    padding: 28px 3px;
    margin: 48px 165px;
    border: 2px solid #60cc1f;
    border-radius: 12px;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 74%;
    margin: 48px 178px;
}

.left {

    flex-direction: row-reverse;
}

.thumbnail {
    height: auto;
    width: auto;
}

.paras {
    padding: 0px 59px;
}


.imgfluid {
    border: 4px solid black;
    border-radius: 31px;

    margin-top: -28px;
    margin-bottom: -38px;
    box-shadow: -10px 10px 5px gray;
}


.About {
    background-color: rgb(226 243 239);
}

.company {
    align-items: center;
    justify-content: center;
    padding: 23px 78px;
    margin: 47px 160px;
}

#About {
    text-align: center;
    padding: 8px 6px;
    margin: 57px 410px;
    border: 3px solid rgb(0 0 0 / 70%);
    border-radius: 99px;
}

.slideimgR {
    position: relative;
    animation: sliderR 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    transition: transform .2s;
    box-shadow: -10px 10px 5px gray;


}

.slideimgL {
    position: relative;
    animation: sliderL 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    transition: transform .2s;
    box-shadow: 10px 10px 5px gray;
}

.slideimgR:hover,
.slideimgL:hover,
.thumbnail:hover {
    transform: scale(1.3);
}

@keyframes sliderR {
    from {
        left: 200px;
        opacity: 0;

    }

    to {
        left: 0px;
        opacity: 1;
    }
}

@keyframes sliderL {
    from {
        right: 200px;
        opacity: 0;

    }

    to {
        right: 0px;
        opacity: 1;
    }
}

.contact {
    background-image: url("contact.jpg");
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
    margin-top: -48px;
}

.form {
    max-width: 344px;
    margin-left: 946px;
}

#contact {
    text-align: center;
    padding: 8px 6px;
    margin: 48px;
    margin-left: 849px;
    margin-right: 124px;
    border: 3px solid gray;
    border-radius: 99px;
    background-color: white;
}

.form_input {
    width: 100%;
    border: 2px solid darkgray;
    border-radius: 6px;
    padding: 5px 14px;
    margin: 5px -18px;
}

.footer {
    background-color: rgb(27 24 24);
    display: flex;
}

.text-footer {
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px 91px;
    margin: 7px 0px;
}

.footer-logo {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin: 0px 51px;
    padding: 0px 12px;
}

.rightfooter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
}

#reading {
    text-align: center;
    padding: 8px 6px;
    margin: 12px 410px;
    border: 3px solid rgb(0 0 0 / 70%);
    border-radius: 99px;
}

.Reading {
    background-color: aliceblue;
}

.container {
    height: fit-content;
}

.Pdf-display {
    width: 68%;
    height: 629px;
    padding: 23px 128px;
    margin-top: 50px;

}

.btn-dwn {
    font-size: 23px;
    border: 3px solid white;
    border-radius: 6px;
    margin: 14px 249px;
    padding: 0px 24px;
    cursor: pointer;
    color: aqua;
    background-color: crimson;
    text-decoration: none;
}

.section-reading {
    display: flex;
}

.shopping {
    background-color: bisque;
    
}

#heading{
    text-align: center;
    padding: 8px 6px;
    margin: 12px 410px;
    border: 3px solid rgb(0 0 0 / 70%);
    border-radius: 99px;
    color: chocolate;
}